#searchSection {background-color: rgb(253, 253, 108);
                padding: 2rem;}

#searchSection h1, p, form {text-align: center;}

button {vertical-align: top !important;
        }

        @media(min-width: 768px) {
            .newGif {max-width: 30%;}
        }

        @media(max-width: 767px) {
            .newGif {max-width: 45%;}
        }
        